@use "../../SASS/Main" as * ;

.sendEmail {
  @include flex-col(center,center);
  @include size(100% , 100%);
  margin: 15px 0;
}

.sendEmail div {
  margin: 15px 0;

}
.sendEmail h4 {
  font-size: 30px;
  color: var(--text);
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  padding: 10px 25px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 3px 5px var(--shadow-contact);
  background-color: var(--primary);
 
}
form{
  margin-top: 20px;
}
.sendEmail div{
  @include flex(center,center);
  gap: 20px;
}
.sendEmail  form{
  @include flex-col(center,center);
  gap: 0px;
}
.sendEmail div label {
  margin-bottom: 5px;
  @include size(150px ,30px);
  color: var(--text);
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-align: end;
}
.sendEmail div input {
  width: 100%;
  height: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 15px;
  font-size: 18px;
  color:var(--text);
  background-color: var(--primary);
  box-shadow: 0px 0px 5px  var(--shadow-contact);
}
.sendEmail div textarea {
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
  color:var(--text);
  background-color: var(--primary);
  box-shadow: 0px 0px 5px  var(--shadow-contact);
  padding: 15px;
  font-size: 18px;
}

.sendEmail .send { 
@include size(fit-content , 80px);
@include flex(center , center);
margin-bottom: 0;
}

.sendEmail .submit {
  @include size(150px ,20px);  
  background-image: linear-gradient(to right, $blue-5 0%, $blue-8 51%, #176ab7 100%);
  box-shadow: 0 1px 3px var(--shadow-contact), 0 1px 2px var(--shadow-contact);
  background-size: 200% auto;
  transition: 0.5s;  

	border-radius:8px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	&:hover {
    background-position: right center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
}

form p:last-child{
  @include flex(center , center);
  gap: 10px;
  color: var(--text);
}

/*=======================
    screen mobile 
=========================*/
@media (max-width: 1100px) {
  .sendEmail h3 {
    font-size: 25px;
    font-weight: 600;
  }
  .sendEmail div label {
    font-size: 18px;
  }
}
