@use "../SASS/Main" as *;

  /*====================
    1- page project
========================*/

.project{
  position: absolute;   
  @include size(100% , 85vh);
  background-color: var(--bg-primary2);
  padding:  10px 0;  
  transition: 1s;
}
.project .myproject{
@include size(100% , 90%);
@include border-top-gradient(1px,transparent,var(--border),transparent);
overflow-y: scroll;
}
  /*====================
    2- title project
========================*/
.project h3{
  color: var(--text);
  font-size: 25px;
  padding: 10px 15px ;
}
.project  h3 span{
  position: relative;
  color: $blue-5;
  border: none;
}
.project  h3 span::before{
content: "";
position: absolute;
top: 1px;
left: -9px;
@include circle(32px);
border: none;
background-color: var(--shadow-letter);
z-index: -1;
}
  /*========================
    3- project section
============================*/
.myproject h3{
  font-size: 20px;
  color: var(--text);
}

  /*========================
    3- buttons section
============================*/
.cards-project{
  @include size(100% , 80%);
  @include flex(center,start);
  @include border-top-gradient(1px,transparent,var(--border),transparent);
  padding: 10px 0;  
}
.cards-project .buttons{
  @include size(30%,100%);  
  @include flex-col(start,center);
  gap : 10px ;
  padding: 10px 0 ;
}
.cards-project .buttons a{
  @include size(70%,40px);  
  @include flex(center,center);
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  
  &:hover{
    border: 1px solid $blue-5 ;
    opacity: 0.9;
  }
}

  /*========================
    3- cards of project
============================*/
.cards-project  .cards{
  @include size(70%,100%);
  @include flex(start,start);
  padding: 10px 0px;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 15px;
 
}

.cards-project .card{
  @include size(220px , fit-content);
  box-shadow: 0px 0px 4px var(--shadow-card) , 0px -0px 4px var(--shadow-card);
  border-radius: 5px;
  transition: 0.5s;    
  background-color: var(--bg-card);
  &:hover{
      rotate: 1deg;
  }
}
.cards-project .card img{
  @include size(100% , 150px);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.cards-project .card .body-card{    
  padding: 0px 10px ;
  color: var(--text );
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.cards-project .card .body-card h6{
  padding: 0;
  font-size: 18px;
  @include size(100% , 30px);
  @include flex(start , center);
}
.card .body-card p{
  @include border-top-gradient(1px,transparent,var(--border),var(--border));
  @include size(100% , 125px);
  @include flex(start , start);
  margin: 1px 0;
  padding: 8px 0;
  font-size: 13px;
  line-height: 18px;
  text-align: justify;
}

.cards .body-card .links{
  @include size(100% , 30px);
  @include flex(start , center);
  gap: 15px;
}
.cards .body-card .links a{
  all: unset;  
  padding: 5px;
}
.cards .body-card .links .icon{
  font-size: 20px;
  cursor: pointer;
}

/*=======================
    screen mobile 1100px
=========================*/
@media (max-width: 1100px) {
  .project{
    position: relative;   
    @include size(calc(90% - 85px) , 100%);
    padding: 10px 0;
    background-color: var(--bg-primary2);
    margin-left: 110px;
    margin-top: 10px;
  }
  .project .myproject{
    overflow-y: visible;
    }
    .cards-project{
    flex-wrap: wrap;
    }
  .cards-project .buttons{
    @include size(100%,150px);  
    @include flex(center,start);
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
  }
  .cards-project .buttons a{
    @include size(250px,45px);  
    @include flex(center,center);
  }
  .cards-project  .cards{
    @include size(100%,90%);      
    @include flex(center,start);  
    border: none;
  }
}
/*=======================
    screen mobile 600px
=========================*/

@media (max-width: 600px){
  .project{ 
    @include size(100% , 100%);
    padding: 10px 0;
    margin-left: 0px;
    margin-top: 1px;
    overflow-y: scroll;
  }
  .cards-project .buttons a{
    @include size(150px,45px);    
  }
}