@use "../SASS/Main" as * ;

  /*====================
    1- page resume
========================*/

.resume{
  position: absolute;   
  @include size(100% , 85vh);
  background-color: var(--bg-primary2);
  padding:  10px 0;  
  transition: 1s;
}
.resume .myResume{
@include size(100% , 90%);
  overflow-y: scroll;
}
  /*====================
    2- title resume
========================*/
.resume h3{
  color: var(--text);
  font-size: 25px;
  padding: 10px ;
}
.resume  h3 span{
  position: relative;
  color: $blue-5;
  border: none;
}
.resume  h3 span::before{
content: "";
position: absolute;
top: 1px;
left: -9px;
@include circle(32px);
border: none;
background-color: var(--shadow-letter);
z-index: -1;
}
  /*========================
    3- Education section
============================*/
.resume .edu{
  @include border-top-gradient(1px,transparent,var(--border),transparent);
  @include flex(start,center);
  padding: 0 10px;
}

.resume .edu .edu-icon{
  font-size: 30px;
  padding-bottom: 10px;
  color: var(--text);
}
.resume h4{
  padding: 0 50px 15px;
  font-size: 18px;
  color: var(--text);
  font-weight: 400;
}

  /*========================
    4- Courses section
============================*/
.resume .course{
  @include flex(center,start);  
  padding-right: 15px;
  flex-wrap: wrap;
}
.course .group{
  @include size(60% , 100%);
}
.resume .course .group h5{
  padding: 0 50px 15px;
  font-size: 18px;
  color: var(--text);
  font-weight: 400;
}

.resume .course .cards{
  @include size(100% , 100%);
  @include flex(start,center);
  flex-wrap: wrap;
  margin: 5px 20px;
  gap: 15px

}
.resume .course .card{
  position: relative;
  @include size(100px , 135px);
  border-radius: 8px;
  gap: 10px;
  box-shadow: 0 0 10px $teal-8;  
  margin-left: 20px;
  transition: 0.5s;

  &:Hover{
    box-shadow: 1px 30px 10px $teal-5;  
    transform: rotatex(-45deg);
    background-color: $slate-8;
  }
}
.resume .course .card .image{
  @include size(100% , 95px);
  transition: 0.5s;
}
.card:hover   .image{
  transform: rotatex(20deg);
  height: 180px !important; 
  margin-top: -70px;
}

.resume .course .card p{
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: var(--text);
  transition: 0.2s;
}
.resume .course .card:hover  p{
opacity: 0
}
  /*========================
    4- Animation section
============================*/
.resume .course .animation{
  @include size(40% , 100%);
  border-radius: 40px;
}


/*=======================
    screen mobile 1100px
=========================*/
@media (max-width: 1100px) {
  .resume{
    position: relative;   
    @include size(calc(90% - 85px) , fit-content);
    background-color: var(--bg-primary2);
    margin-left: 110px;
    margin-top: 10px;
  }
  .resume .myResume{
      overflow-y: visible;
    }
}

/*=======================
    screen mobile 600px
=========================*/
@media (max-width: 600px){
  .resume{  
    @include size(100%, fit-content);
    background-color: var(--bg-primary2);
    margin-left: 0px;
    margin-top: 1px;
    scroll-margin-top: 10px; 
    z-index: 100;
  }
  .course .group{
    @include size(100% , 100%);
  }
  .resume .course .animation{
    @include size(100% , 100%);
  }
  .resume .course .animation{
    @include size(90% , 100%);
  }
}