@use "./SASS/Main" as *;


.mainPage{
    @include size(100vw , 100vh);
    @include flex(center,center);
    background-color: $cyan-5;
}
.showPage{
    @include size(90vw , 90vh);
    @include flex(center,center);
    border-radius: 5px;
    z-index: 100;
    overflow: hidden;
}
.leftSection{
    position: relative;
    @include size(40% , 100%);
    transition: 1s;
    z-index: 100;
}
.rightSection{
    position: relative;
    @include size(60% , 100%);
    @include flex(center,center);
    background-color: $cyan-5;
    overflow: hidden;
}
/*===========================
    2- screen mobile 1100px
=============================*/
@media (max-width: 1100px) {

    .mainPage{
        position: relative;
        @include size(100vw , 100%);
        @include flex(start,center);
        overflow: hidden;
    }
    .showPage{
        position: relative;
        @include size(100% , 100%);
        @include flex-col(start,start);
        
    }
    .leftSection{
        position: relative;
        @include size(100% , 100%);
    }
    .rightSection{
        position: relative;
        @include size(100% , 100%);        
        @include flex-col(start,center);
        background-color: transparent;
        overflow: hidden;
    }
}
/*===========================
    2- screen mobile 600px
=============================*/
@media (max-width: 600px) {
    .mainPage{
        margin-top: 60px;
        @include flex(start,start);
    }
    .showPage{
        @include size(100vw , 100%);
        @include flex-col(start,start);
    }
    .leftSection{
        position: relative;
        @include size(100% ,calc(100vh - 60px));
    }
    .rightSection{
        position: relative;
        @include size(100% , 100%);
        margin-top: 5px;
        @include flex-col(start,center);
        background-color: transparent;
    }

}
