@use "./SASS/Main" as *;

:root{
    //background
    --bg-primary : #{$neutral-8};
    --bg-shadow : #{$slate-1};


    //navBar
    --border-menu: #{$gray-9};
    --bg-links : #{$blue-4}; //mode + bg-links:a
    --bg-navBar : #{$gray-7}; //color links
    --bg-icon : #{$gray-3}; 
    --bg-logo : #{$blue-4};
    --text-logo : #000;
    --bg-navMobile :#{$slate-8};

    //global
    --text : #fff ;
    --border : #{$gray-5};
    --thumb : #{$blue-6};

    //home
    --shadow-foto : #{rgba($slate-0 , 46%)};
    --front : #{$blue-5};

    //pages    
    --bg-primary2 : #{$neutral-7};
    --shadow-letter : #{$neutral-7};
    --bg-words: #{$blue-5};

    --border-btn : #{$teal-8};
    --border-btn-active: #{$teal-2};
    --text-btn: #fff;
    --bg-btn : #{$slate-8};

    --bg-card:  #{$neutral-7};
    --shadow-card : #{$teal-5};

    --shadow-contact : #{$blue-4};
}


.light{
    //background
    --bg-primary : #{$slate-1};  
    --bg-shadow : #{$slate-6};

    //navBar
    --border-menu: #{$gray-0};    
    --bg-links : #{$blue-5};
    --bg-navBar : #{$gray-2};
    --bg-icon : #{$blue-5};
    --bg-logo : #{$blue-5};
    --text-logo : #fff ;
    --shadow-links :   ;
    --bg-navMobile :#{$slate-1};
    
    //global
    --text : #000 ;
    --border : #{$gray-4};
    --thumb : #{$blue-5};

    //home
    --shadow-foto : #{rgba($slate-9 , 75%)};
    --front : #{$blue-6};

    //pages    
    --bg-primary2 : #{$slate-2};
    --shadow-letter : #{$blue-2};
    --bg-words: #{$blue-5};

    --border-btn : #{$gray-5};
    --border-btn-active: #{$blue-5};
    --text-btn : #{$blue-5};
    --bg-btn : #fff;

    --bg-card:  #{$neutral-2};   
    --shadow-card : #{$teal-8};

    --shadow-contact : #{$blue-5};
} 



/* =======================
    global setting
    ======================*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    }
  *,
  *:after,
  *:before{
    box-sizing: inherit;
    }
    
    html {
    scroll-behavior: smooth;
    }
    body {
    font-family: "Khula", sans-serif;
    scroll-behavior: smooth;
    }

    /* =======================
    visible & hide pages
    ======================*/
    .hide{
        transform:translateX(-70%);
        visibility: hidden;
        opacity: 0;
        z-index: -1;
    }
    .apear{
        transform: translateX(0);
        visibility: visible;
        opacity: 1;
        z-index: 1;
    }

    @media (max-width:1100px) {
        .about,.resume,
        .project,.contacts{
            transform: translateX(0);
            visibility: visible;
            opacity: 1;      
            z-index: 1; 
        }
    }

/* ================================
    to add color to links of navbar
    ===============================*/
    .active{
        color: $yellow-5;
        border: 2px solid $yellow-5;
    }
    .noActive{
        color: var(--text-logo);
        border: 2px solid var(--bg-icon);
    }
/* ================================
    to add color to links of button
    ===============================*/

    .activation{
        border: 1px solid var(--border-btn-active) ;
        background-color: var(--bg-btn);
        color: var(--text-btn);
        opacity: 1;
    }
    .noActivation{
        border: 1px solid var(--border-btn) ; 
        background-color: var(--bg-primary);     
        color: var(--text);
        opacity: 0.5;
    }

    /* ================================
    slide animation for mobileBar
    ===============================*/

    @media (max-width:600px){
        .showDone{
            transform: translateX(0px);
        }
        .showDone{
            transform: translateX(-70px);
        }
}

/*=======================
    screen mobile 
=========================*/
@media (max-width:1100px) {
    ::-webkit-scrollbar {
        display: none;
    }
}


    @media (max-width: 600px){
        #tsparticles{
        display: none;
    }
}